*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#team{
	color:white;
	text-align: center;
    margin-top: 7%;
	font-family: 'Indie Flower', cursive;
	font-size:40px;
}

#team span{
	color:red;
}

.team_name{
	color:white;
	text-align: center;
    margin-top: 4%;
	font-family: 'Indie Flower', cursive;
	font-size:30px;

}