*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font-size:10px;
	font-family:"Roboto Cn",sans-serif;
}

body{
	overflow-x: hidden;
}

a{
	text-decoration:none;
	color:#eee;
}
body{
	width:100%;
	height:100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("pic/cover.jpg") center no-repeat;
	background-size:cover;
        padding-bottom:30px;
	background-repeat:no-repeat;
	background-position:right top;
	background-color:black;
	background-attachment:fixed;
}
.container{
	max-width:120rem;
	width:90%
	margin:0 auto;
}

nav{
	padding-top: 2rem;
	display:flex;
    justify-content:space-between;
    align-items:center;
    text-transform:uppercase;
    font-size:1.6rem;	
}

.brand{
	font-size:3rem;
	font-weight:300;
	margin-left:40px;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color:crimson;
}

nav ul{
	display:flex;
}
nav ul li{
	list-style:none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}
nav ul li:nth-child(2){
	animation-delay: .5s;
}
nav ul li:nth-child(3){
	animation-delay: 1s;
}
nav ul li:nth-child(4){
	animation-delay: 1.5s;
}


 nav ul li a{
	 padding:1rem 0;
	 margin:0 3rem;
	 position: relative;
	 letter-spacing:2px;
 }
 nav ul li a:last-child{
	 margin-right:0;
 }
 
 nav ul li a::before,
 nav ul li a::after{
	 content: '';
	 position: absolute;
	 width:100%;
	 height: 2px;
	 background-color: crimson;
	 left: 0;
	 transform: scaleX(0);
	 transition:all 0.5s; 
 }
 
 nav ul li a::before{
	 top: 0;
	 transform-origin: left;
 }
 
 nav ul li a::after{
	 bottom:0;
	 transform-origin: right;
 }
 
 nav ul li a:hover::before,
 nav ul li a:hover::after{
    transform: scaleX(1);
 }
 
 @keyframes slideIn {
	 from{
		 
	 }
	 to{
		 transform: translateX(0);
	 }
 }

 #search_field{
 	position: absolute;
 	padding:1.5rem;
 	width:60vh;
 	border-radius: 1rem;
 	border-style: none;
 	outline: none;
 	margin-left: 30%;
 	margin-top: 2%;
 	transform: translateX(-100rem);
	animation: slideIn 1s forwards;
 }

#search_button{
 	position: absolute;
 	padding:1.5rem;
 	width:20vh;
 	border-radius: 1rem;
 	border-style: none;
 	outline: none;
 	margin-left: 63%;
 	margin-top: 2%;
 	font-weight: bold;
 	text-transform:uppercase;
 	transform: translateX(-100rem);
	animation: slideIn 1.5s forwards;
 }

 #search_button:hover{
 	cursor: pointer;
 	background-color: red;
 	transition-delay: .15s;
 	color:white;
 }

header form h1{
	color:white;
	font-family: 'Indie Flower', cursive;
	font-size:40px; 
	font-weight: bold;
	margin-left:32%; 
	margin-top: 17%;
}

@media(max-width:576px){

	header{
		width:100%;
		height:100vh;
		background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("pic/mobile-cover.jpg") center no-repeat;
		background-size:cover;
	}
	#search_button{
	 	position: absolute;
	 	padding:1.5rem;
	 	width:12vh;
	 	border-radius: 1rem;
	 	border-style: none;
	 	outline: none;
	 	margin-left: 73%;
	 	margin-top: 2%;
	 	font-weight: bold;
	 	text-transform:uppercase;
	 	transform: translateX(-100rem);
		animation: slideIn 1.5s forwards;
	 }

	 #search_field{
	 	position: absolute;
	 	padding:1.5rem;
	 	width:33vh;
	 	border-radius: 1rem;
	 	border-style: none;
	 	outline: none;
	 	margin-left: 8%;
	 	margin-top: 2%;
	 	transform: translateX(-100rem);
		animation: slideIn 1s forwards;
	 }
	 .brand{
	 	font-size:2.5rem;
	 	font-weight:300;
	 	margin-left:10px;
	 	transform: translateX(-100rem);
	 	animation: slideIn .5s forwards;
	 }
	 nav{
	 	padding-top: 2rem;
	 	display:flex;
	     justify-content:space-between;
	     align-items:center;
	     text-transform:uppercase;
	     font-size:1.0rem;
	 }
	 nav ul li a{
		padding:1rem 0;
		margin:0 0.8rem;
		position: relative;
		letter-spacing:1px;
	 }

}
